IE 11
Firefox >= 48
Chrome >= 53
Opera >= 36
Edge >= 12
iOS >= 10.0.3
Safari >= 11
Android >= 66
Samsung >= 7
Baidu >= 7.12
UCAndroid >= 11.8
OperaMobile >= 46
OperaMini all
QQAndroid 1.2
ChromeAndroid >= 66
FirefoxAndroid >= 60
